[user]
        name = Mat Sachs
        email = matochondrion@gmail.com
[core]
        excludesfile = ~/.gitignore_global
        editor = nvim
[pull]
	ff = only
[init]
	defaultBranch = main
[difftool]
    prompt = true
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
